<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    >
    <head>
        <title>Spring Security</title>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button
                        type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar"
                        >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">GP</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li sec:authorize="hasRole('PG_PROJETOS')"><a href="/projetos">Projetos</a></li>
                        <li sec:authorize="hasRole('PG_REL_CUSTOS')"><a href="/relatorio-custos">Relatório Custos</a></li>
                        <li sec:authorize="hasRole('PG_REL_EQUIPE')"><a href="/relatorio-equipe">Relatório Equipe</a></li>
                    </ul>     
                </div>
            </div>
        </nav>
        <div class="container" >
            <div layout:fragment="content">O conteúdo das páginas filhas aparecerão aqui.</div>	
        </div>

        <div class="container" >
            <hr />

            <footer>
                <h4>Palestra online "Spring Security" por Alexandre Afonso da AlgaWorks</h4>
            </footer>	
        </div>		
    </body>
</html>